[Service]
User=pi
Group=pi
ExecStart=/home/pi/bots/Akane/Akane
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=AKANE
WorkingDirectory=/home/pi/bots/Akane

Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target